<section>
    <div class="container">
        <div class="todolist">
            <h1>To-Do List</h1>
            <ion-icon name="list-circle-outline"></ion-icon>
        </div>
        <div class="todolist_action">
            <form method ="POST" action="DataBaseFunction/AddToDataBase.php">
                <input class="addText" type="text" id="note" name="note" placeholder="Dodaj tekst" required>
                <button id="add" name="add" type="submit">Dodaj</button>
            </form>
        </div>
    </div>
</section>