*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(61,56,123);
    background: radial-gradient(circle, rgba(61,56,123,1) 48%, rgba(105,64,174,1) 97%);
}
.container{
    position: relative;
    margin-top: 3%;
    margin-left: 37%;
    width: 500px;
    height: 200px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}
.todolist{
    display: flex;
    justify-content: left;
    margin-left: 5%;
    gap: 2%;
    position: relative;
    top: 5%;
}
.todolist h2 , img{
    display: inline-block;
}
.todolist h2{
    font-size: 25px;
    font-weight: bold;
    color: #3d387b;
    margin-bottom: 5%;
}
img{
    margin-top: -1.3%;
    width: 40px;
    height: 40px;
}
.list_inputs table,
.list_inputs_modal table{
    display: flex;
    width: 370px;
}
.list_inputs th,
.list_inputs_modal th{
    font-size: 12px;
    font-style: italic;
    color: #3d387b;
    position: relative;
    left: 5%;
}
.list_inputs td{
    position: relative;
    left: 5%;
    width: 150px;
    height: 40px;
}
.list_inputs_modal td{
    position: relative;
    left: 1%;
    width: 150px;
    height: 40px;
}
.list_inputs select,
.list_inputs_modal select{
    color: #555;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #3d387b;
    width: 125px;
    height: 30px;
}
.list_inputs input,
.list_inputs_modal input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #3d387b;
    background-color: #fff;
}
.add{
    border:none;
    outline:none;
    padding: 10px 30px;
    background: #6940ae;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor:pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
    margin-left: 15px;
    width: 450px;
}
button:hover{
    transform: scale(1.05);
}
.table_display{
    margin-top: 1%;
    margin-left: 36%;
    width: 500px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
}
ul li {
    list-style: none; 
    font-size: 17px;
    padding: 12px 8px 12px 65px; 
    user-select: none; 
    cursor: pointer; 
    position: relative; 
}
.row_note .note_item::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 16px;
}
.row_note .note_item.checked{
    color: #555;
    text-decoration: line-through;
}
.row_note .note_item.checked::before{
    background-image: url('../images/checked.png');
}
.table_display table {
    width: 100%; 
    border-collapse: collapse; 
}
.table_display td {
    text-align: left; 
}
.table_display td:first-child {
    width: 0%; 
}

.table_display td:nth-child(2){
    width: 30%;
}
.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border:none;
    outline:none;
    width: 30px;
    height: 30px;
    background: #6940ae;
    color: #fff;
    font-size: 16px;
    border-radius: 20%;
    cursor:pointer;
    transition: transform 0.3s ease;
}
.btn-light{
    font-size: 13px;
    background-color: #6f42c1; /* Bootstrapowy odcień fioletowego */
    color: white; /* Kolor tekstu */
    border: none;
} 
.btn-light:hover{
    transform: scale(1.05);
    background-color: #6f42c1;
    color: white;
}

.show_id{
    color:white;
}
.row_category li,
.row_pieces li{
    font-size: 12px;
    font-style: italic;
    color: #555;
    width: 10px;
}







