<section>
    <div class="display_input">
        <table id="toDoList_table" class="todo_table">
            <tr>
                <th>ID</th>
                <th>Notatka<th>
                <th>Usuń<th>
                <th>Data<th>
            </tr>
        </table>
    </div>
</section>