<section>
    <div class="container">
        <div class="todolist">
            <h2>To-Do List</h2>
            <img src="src/images/list.png">
        </div>
        <div class="todolist_action">
            <form method ="POST" action="src/DataBaseFunction/DataBaseActions.php">
                <input class="addText" type="text" id="note" name="note" placeholder="Dodaj tekst" required>
                <button id="add" name="add" type="submit" class="add">Dodaj</button>
            </form>
        </div>
        <div class="display_input">
            <ul id="list-container">
                {% for row in data %}
                <table>
                    <tr>
                        <td><li class="checked">{{ row.note }}</li></td>
                        <td>{{ row.count }}</td>
                        <td class="delete" id="delete">&times;</td>
                    </tr>
                    {% else %}
                    <td><li>Brak notatek</li></td>
                {% endfor %}
                </table>
            </ul>
        </div>
    </div>
</section>