<section>
    <div class="container">
        <div class="todolist">
            <h2>To-Do List</h2>
            <img src="src/images/list.png">
        </div>
        <div class="todolist_action">
            <form id="addToDataBase">
                <input class="addText" type="text" id="note" name="note" placeholder="Dodaj tekst" required>
                <button type="submit" name="press" value="addNote" id="add" class="add" onclick="addDeleteNoteAjax(event,'addToDataBase');">Dodaj</button>
            </form>
        </div>
        <div class="display_input">
            <ul id="list-container">
                {% for row in data %}
                <table>
                    <tr>
                        <td class="show_id">{{ row.id }}</td>
                        <td><li>{{ row.note }}</li></td>
                        <form id="deleteWithDataBase">
                            <input type="hidden" name="id" value="{{ row.id }}">
                            <td><button type="submit" id="delete" name="press" value="deleteNote" class="delete" onclick="addDeleteNoteAjax(event,'deleteWithDataBase');">&times;</button></td>
                        </form>
                    </tr>
                    {% else %}
                    <td>Brak notatek</td>
                </table>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script src="src/js/script.js"></script>