<section>
    <div class="container">
        <div class="todolist">
            <h2>To-Do List</h2>
            <img src="src/images/list.png">
        </div>
        <div class="todolist_action">
            <form method ="POST" action="src/DataBaseFunction/DataBaseActions.php">
                <input class="addText" type="text" id="note" name="note" placeholder="Dodaj tekst" required>
                <button id="add" name="add" type="submit" class="add">Dodaj</button>
            </form>
        </div>
        <div class="display_input">
            <table>
                <tbody id="list-container">
                    {% for row in data %}
                    <tr>
                        <td class ="checked"><span class="list-item">{{ row.note }}</span></td>
                        <td><span>{{ row.count }}</span></td>
                        <td><span class="delete">&times;</span></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">Brak notatek</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>