{% include 'header.html.twig' %}
<section>
    <nav>
    <div class="container_logo">
        <img src="src/images/shopper.png" alt="Shopper" class="shopper">
        <h2>hopper</h2>
    </div>
        <ul class="nav_links">
            <a href="main.php"><li>Strona główna</li></a>
            <li>Instrukcja obsługi</li>
            <li>Kontakt</li>
            <li>
                <a href="login.php"><button type="button" class="btn btn-secondary">Logowanie</button></a>
            </li>
        </ul>
    </nav>
    <div class="conatiner_description">
        <div class="description_shopper">
            <div class="shopper_head">
                <h1>Shopper<span id="fruits"></span></h1>
                <div class="shopper_body">
                    <h2>Najlepsza darmowa aplikacja do tworzenia listy zakupów <br>bez zbędnych reklam</h2>
                    <h3>Jeśli chcesz dowiedzieć się więcej o aplikacji naciśnij przycisk poniżej</h3>
                    <div class="shopper_button">
                        <button type="button" class="btn btn-outline-info">Instrukcja</button>
                        <button type="button" class="btn btn-outline-info">Kontakt</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopper_image">
        <img src="src/images/phone.png">
        </div>
    </div>
</section>
{% include 'scripts.html.twig' %}
{% include 'footer.html.twig' %}