{% include 'header.html.twig' %}
<section>
    <nav>
        <div class="container_logo">
            <img src="src/images/shopper.png" alt="Shopper" class="shopper">
            <h2>hopper</h2>
        </div>
            <ul class="nav_links">
                <li><a href="./home">Strona główna</a></li>
                <li><a href="">Instrukcja obsługi</a></li>
                <li><a href="">Kontakt</a></li>
                <li>
                    <button type="button" class="btn btn-secondary">Logowanie</button>
                </li>
            </ul>
        </nav>
        <form id="loginForm">
        <div class="container_login">
            <label class="login_label"><span id="login">Logowanie</span></label>
            <div class="container_mb-3">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Login</label>
                    <input type="text" class="form-control" id="loginUser" name="loginUser" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Zapamiętaj mnie</label>
                </div>
                <button type="submit" name="press" value="login" class="btn btn-primary" onclick="fetchAjaxFunction(event,'loginForm');">Zaloguj się</button>
            </div>
         </form>
        <div class="linia">LUB</div>
            <button class="googleButton"><img src="src/images/logoGoogle.png" class="google">Kontynuuj z kontem Google</button>
        </div>
        <div class="container_registration">
            <p>Jeśli nie masz konta ? <a href="./register">Zarejestruj się</a></p>
        </div>
</section>
{% include 'scripts.html.twig' %}
{% include 'footer.html.twig' %}
