<form>
    <div class="container_login">
        <label class="login_label"><span id="login">Logowanie..</span></label>
        <div class="container_mb-3">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Hasło</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Zapamiętaj mnie</label>
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj się</button>
        </div>
    </div>
  </form>
  {% include 'scripts.html.twig' %}