<section>
    <nav>
        <div class="container_logo">
            <img src="src/images/shopper.png" alt="Shopper" class="shopper">
            <h2>hopper</h2>
        </div>
            <ul class="nav_links">
                <li><a href="main.php">Strona główna</a></li>
                <li>Instrukcja obsługi</li>
                <li>Kontakt</li>
                <li>
                    <button type="button" class="btn btn-secondary">Logowanie</button>
                </li>
            </ul>
        </nav>
    <form>
        <div class="container_login">
            <label class="login_label"><span id="login">Logowanie</span></label>
            <div class="container_mb-3">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Hasło</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Zapamiętaj mnie</label>
                </div>
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
            </div>
            <div class="linia">LUB</div>
            <button class="googleButton"><img src="src/images/logoGoogle.png" class="google">Kontynuuj z kontem Google</button>
        </div>
      </form>
      <form>
        <div class="container_registration">
            <p>Jeśli nie masz konta ? <a href="">Zarejestruj się</a></p>
        </div>
      </form>
</section>
