<section>
    <nav>
        <div class="container_logo">
            <img src="src/images/shopper.png" alt="Shopper" class="shopper"><h2>hopper</h2>
            <ul>
                <li class="home">Strona główna</li>
                <li class="instruction">Instrukcja obsługi</li>
                <li>Kontakt</li>
                <li class="loginButton"><button type="button" class="btn btn-secondary">Logowanie</button></li>
            </ul>
        </div>
    </nav>
</section>