{% include 'header.html.twig' %}
<div class="modal fade" id="exampleModal">
  <form id="edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edytuj<ion-icon name="create-outline"></ion-icon></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="list_inputs">
                <th>Nazwa produktu</th>
                <th>Rodzaj</th>
                <th>Ilość</th>
                <tr>
                    <input type="hidden" value ={{data}} id="id2" name="id2">
                    <td><input class="addText" type="text" id="note2" name="note" placeholder="Napisz produkt"  required></td>
                    <td>
                        <select id="categories2" name="categories">
                            <option value="Pieczywo">Pieczywo</option>
                            <option value="Owoce">Owoce</option>
                            <option value="Warzywa">Warzywa</option>
                            <option value="Słodycze">Słodycze</option>
                            <option value="Napoje">Napoje</option>
                            <option value="Mięso">Mięso</option>
                            <option value="Produkty mleczne">Produkty mleczne</option>
                            <option value="Środki czystości">Środki czystości</option>
                        </select> 
                    </td>
                    <td><input class="pieces" id="pieces2" name="pieces" type="number" placeholder="Ilość sztuk" required></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" id="editNote" name="press" value="editNote" onclick="addDeleteNoteAjax(event,'edit');">Zapisz</button>
        </div>
      </div>
    </div>
  </form>
  </div>
{% include 'scripts.html.twig' %}
{% include 'footer.html.twig' %}