<section>
    <div class="modal">
        <div class="modal__container__edit">
            <div class="modal__inputs__edit">
            <span class="close_modal_edit">&times;</span>
                <form id ="editFolderName">
                    <h1>Edytuj notatkę</h1>
                    <input type="hidden" name="id" value="{{ row.id }}">
                    <input type="text" type="text" id="note" name="note" placeholder="Napisz produkt" required>
                    <select id="categories" name="categories">
                        <option value="Pieczywo">Pieczywo</option>
                        <option value="Owoce">Owoce</option>
                        <option value="Warzywa">Warzywa</option>
                        <option value="Słodycze">Słodycze</option>
                        <option value="Napoje">Napoje</option>
                        <option value="Mięso">Mięso</option>
                        <option value="Produkty mleczne">Produkty mleczne</option>
                        <option value="Środki czystości">Środki czystości</option>
                    </select> 
                    <input id="pieces" name="pieces" type="number" placeholder="Ilość sztuk" required></td>
                    <button type="submit" id="edit" name="press" value="edit" class="edit" onclick="addDeleteNoteAjax(event,'editRow');">Edytuj</button>
                </form>
            </div>
        </div>
    </div>
</section>