<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edytujesz: {{content.note}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addToDataBase">
            <table class="list_inputs">
                <th>Nazwa produktu</th>
                <th>Rodzaj</th>
                <th>Ilość</th>
                <tr>
                    <input type="hidden">
                    <td><input class="addText" type="text" id="note" name="note" placeholder="Napisz produkt" required></td>
                    <td>
                        <select id="categories" name="categories">
                            <option value="Pieczywo">Pieczywo</option>
                            <option value="Owoce">Owoce</option>
                            <option value="Warzywa">Warzywa</option>
                            <option value="Słodycze">Słodycze</option>
                            <option value="Napoje">Napoje</option>
                            <option value="Mięso">Mięso</option>
                            <option value="Produkty mleczne">Produkty mleczne</option>
                            <option value="Środki czystości">Środki czystości</option>
                        </select> 
                    </td>
                    <td><input class="pieces" id="pieces" name="pieces" type="number" placeholder="Ilość sztuk" required></td>
                </tr>
            </table>
    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>