<section>
    <nav>
        <div class="container_logo">
            <img src="src/images/shopper.png" alt="Shopper" class="shopper">
            <h2>hopper</h2>
        </div>
            <ul class="nav_links">
                <li><a href="home.php">Strona główna</a></li>
                <li><a href="">Instrukcja obsługi</a></li>
                <li><a href="">Kontakt</a></li>
                <li>
                    <button type="button" class="btn btn-secondary">Logowanie</button>
                </li>
            </ul>
        </nav>
    <form>
        <div class="container_register">
            <label class="login_label"><span id="login">Rejestracja</span></label>
            <div class="container_mb-3">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Hasło</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Powtórz hasło</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </div>
        </div>
      </form>
</section>